PORT=5000
MONGODB_URI=mongodb://localhost:27017/hotel-harmony
JWT_SECRET=your_jwt_secret_here
CLOUDINARY_CLOUD_NAME="dok2dtrps"
CLOUDINARY_API_KEY=352151411424966
CLOUDINARY_API_SECRET=DRDco15AhZO97s5_fAZgTUL5J8o
